In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('datasets/Train.csv')

In [3]:
# ignore columns call_type	call_status	start_time	duration	end_time	display_location

df = df.drop(columns=['call_type', 'call_status', 'start_time', 'duration', 'end_time', 'display_location'])
df['conversions_calls'] = df['conversions_calls'].interpolate().fillna(df['conversions_calls'].interpolate().mean())


# Step 1: Identify numeric columns
numeric_columns = df.select_dtypes(include=['float64']).columns
df[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].mean())
df = df.dropna()


# Example exchange rates for ZAR and USD
exchange_rates = {'USD': 1.0, 'ZAR': 0.071}  # 1 USD = 0.071 ZAR

# Function to convert cost to USD
def convert_to_usd(currency, cost):
    exchange_rate = exchange_rates.get(currency, 1.0)  # Default to 1.0 if currency not found
    return cost * exchange_rate

# Update 'cost' column with cost in USD
df['cost'] = df.apply(lambda row: convert_to_usd(row['currency'], row['cost']), axis=1)

# drop currency column
df = df.drop(columns=['currency'])

df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day


# one hot encode ad_type
df = pd.get_dummies(df, columns=['ad_type'])

In [4]:
df.head()

,impressions,clicks,cost,conversions,ID,date,impression_share,conversions_calls,headline1_len,headline2_len,ad_description_len,year,month,day,ad_type_EXPANDED_DYNAMIC_SEARCH_AD,ad_type_EXPANDED_TEXT_AD,ad_type_RESPONSIVE_SEARCH_AD
0,142.0,15.0,240.903,0.0,ID_5da86e71bf5dee4cf5047046,2020-01-01,16.279669,0.0,2.0,5.0,11.0,2020,1,1,False,True,False
1,89.0,8.0,129.007,0.0,ID_5da86e71bf5dee4cf5047046,2020-01-01,16.279669,0.0,2.0,2.0,13.0,2020,1,1,False,True,False
2,59.0,8.0,123.753,0.0,ID_5da86e71bf5dee4cf5047046,2020-01-01,16.279669,0.0,2.0,2.0,10.0,2020,1,1,False,True,False
3,78.0,4.0,65.107,0.0,ID_5da86e71bf5dee4cf5047046,2020-01-01,16.279669,0.0,2.0,3.0,13.0,2020,1,1,False,True,False
4,20.0,1.0,15.407,0.0,ID_5da86e71bf5dee4cf5047046,2020-01-01,16.279669,0.0,2.0,2.0,13.0,2020,1,1,False,True,False

In [6]:
df['ID'].unique().shape

(185,)

In [ ]:
"""" The Strategy


creating separate predictions for each ID

"""