In [4]:
import numpy as np
import pandas as pd
from ydata_profiling import ProfileReport

In [34]:
_df = pd.read_csv('datasets/Train.csv')

In [61]:
_df.head(15)

,impressions,clicks,cost,conversions,ad_type,currency,ID,date,call_type,call_status,start_time,duration,end_time,display_location,impression_share,conversions_calls,headline1_len,headline2_len,ad_description_len
0,142.0,15.0,3393.0,0.0,EXPANDED_TEXT_AD,ZAR,ID_5da86e71bf5dee4cf5047046,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,16.279669,0.0,2.0,5.0,11.0
1,89.0,8.0,1817.0,0.0,EXPANDED_TEXT_AD,ZAR,ID_5da86e71bf5dee4cf5047046,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,16.279669,0.0,2.0,2.0,13.0
2,59.0,8.0,1743.0,0.0,EXPANDED_TEXT_AD,ZAR,ID_5da86e71bf5dee4cf5047046,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,16.279669,0.0,2.0,2.0,10.0
3,78.0,4.0,917.0,0.0,EXPANDED_TEXT_AD,ZAR,ID_5da86e71bf5dee4cf5047046,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,16.279669,0.0,2.0,3.0,13.0
4,20.0,1.0,217.0,0.0,EXPANDED_TEXT_AD,ZAR,ID_5da86e71bf5dee4cf5047046,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,16.279669,0.0,2.0,2.0,13.0
5,5.0,0.0,0.0,0.0,EXPANDED_TEXT_AD,ZAR,ID_5da86e71bf5dee4cf5047046,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,16.279669,0.0,2.0,4.0,10.0
6,149.0,21.0,4091.0,0.0,EXPANDED_TEXT_AD,ZAR,ID_5da86e71bf5dee4cf5047046,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,16.227089,0.0,2.0,5.0,11.0
7,78.0,11.0,2199.0,0.0,EXPANDED_TEXT_AD,ZAR,ID_5da86e71bf5dee4cf5047046,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,16.227089,0.0,2.0,2.0,13.0
8,81.0,10.0,2024.0,0.0,EXPANDED_TEXT_AD,ZAR,ID_5da86e71bf5dee4cf5047046,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,16.227089,0.0,2.0,3.0,13.0
9,52.0,4.0,706.0,0.0,EXPANDED_TEXT_AD,ZAR,ID_5da86e71bf5dee4cf5047046,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,16.227089,0.0,2.0,2.0,10.0
10,30.0,2.0,438.0,0.0,EXPANDED_TEXT_AD,ZAR,ID_5da86e71bf5dee4cf5047046,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,16.227089,0.0,2.0,2.0,13.0
11,5.0,2.0,373.0,0.0,EXPANDED_TEXT_AD,ZAR,ID_5da86e71bf5dee4cf5047046,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,16.227089,0.0,2.0,4.0,10.0
12,157.0,29.0,5048.0,0.0,EXPANDED_TEXT_AD,ZAR,ID_5da86e71bf5dee4cf5047046,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,20.894950,0.0,2.0,5.0,11.0
13,79.0,8.0,1524.0,0.0,EXPANDED_TEXT_AD,ZAR,ID_5da86e71bf5dee4cf5047046,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,20.894950,0.0,2.0,2.0,13.0
14,43.0,7.0,1341.0,0.0,EXPANDED_TEXT_AD,ZAR,ID_5da86e71bf5dee4cf5047046,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,20.894950,0.0,2.0,2.0,10.0

In [2]:
df = pd.read_csv('datasets/Train.csv')

In [5]:
profile = ProfileReport(df, title="Profiling Report")

In [6]:
profile.to_file("profiling_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [7]:
# df columns
print(df.columns)

Index(['impressions', 'clicks', 'cost', 'conversions', 'ad_type', 'currency',
       'ID', 'date', 'call_type', 'call_status', 'start_time', 'duration',
       'end_time', 'display_location', 'impression_share', 'conversions_calls',
       'headline1_len', 'headline2_len', 'ad_description_len'],
      dtype='object')

In [8]:
# nulls in df columns
print(df.isnull().sum())

impressions              400
clicks                   400
cost                     400
conversions              400
ad_type                  400
currency                 400
ID                         0
date                       0
call_type             253026
call_status           253026
start_time            253026
duration              253026
end_time              253026
display_location      253026
impression_share           0
conversions_calls       9855
headline1_len            400
headline2_len            400
ad_description_len       400
dtype: int64

In [9]:
# ignore columns call_type	call_status	start_time	duration	end_time	display_location	

df = df.drop(columns=['call_type', 'call_status', 'start_time', 'duration', 'end_time', 'display_location'])

In [13]:
df['conversions_calls'] = df['conversions_calls'].interpolate().fillna(df['conversions_calls'].interpolate().mean())

In [15]:
# fill nulls with 0
df = df.fillna(0)

In [16]:
df.isnull().sum()

impressions           0
clicks                0
cost                  0
conversions           0
ad_type               0
currency              0
ID                    0
date                  0
impression_share      0
conversions_calls     0
headline1_len         0
headline2_len         0
ad_description_len    0
dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289926 entries, 0 to 289925
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   impressions         289926 non-null  float64
 1   clicks              289926 non-null  float64
 2   cost                289926 non-null  float64
 3   conversions         289926 non-null  float64
 4   ad_type             289926 non-null  object
 5   currency            289926 non-null  object
 6   ID                  289926 non-null  object
 7   date                289926 non-null  object
 8   impression_share    289926 non-null  float64
 9   conversions_calls   289926 non-null  float64
 10  headline1_len       289926 non-null  float64
 11  headline2_len       289926 non-null  float64
 12  ad_description_len  289926 non-null  float64
dtypes: float64(9), object(4)
memory usage: 28.8+ MB

In [24]:
y = df['clicks']
X = df.drop(columns=['ID', 'clicks'])

In [26]:
X['date'] = pd.to_datetime(X['date'])
X['year'] = X['date'].dt.year
X['month'] = X['date'].dt.month
X['day'] = X['date'].dt.day
X = X.drop(['date'], axis=1)

In [27]:
X['currency'] = X['currency'].astype(str)
X['ad_type'] = X['ad_type'].astype(str)

In [28]:
# encode currency, ad_type
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

X['currency'] = le.fit_transform(X['currency'])
X['ad_type'] = le.fit_transform(X['ad_type'])

In [29]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [30]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [31]:
# evaluate model
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, y_pred)

print(mse)

21.90305389059428

In [43]:
# predict on the entire dataset

x_pred = model.predict(X)
x_pred = x_pred.astype(int)

In [44]:
len(_df), len(X), len(x_pred)

(289926, 289926, 289926)

In [53]:
df.tail()

,impressions,clicks,cost,conversions,ad_type,currency,ID,date,impression_share,conversions_calls,headline1_len,headline2_len,ad_description_len,year,month,day,submission_id
289921,0.0,0.0,0.0,0.0,0,0,ID_65687e2b40ea026fcc662a75,2024-02-03,12.035682,0.0,0.0,0.0,0.0,2024,2,3,ID_65687e2b40ea026fcc662a75-2024-2-3
289922,0.0,0.0,0.0,0.0,0,0,ID_65687e2b40ea026fcc662a75,2024-02-04,15.711023,0.0,0.0,0.0,0.0,2024,2,4,ID_65687e2b40ea026fcc662a75-2024-2-4
289923,0.0,0.0,0.0,0.0,0,0,ID_65a7bf329fa4627faf28390c,2024-02-03,15.464425,0.0,0.0,0.0,0.0,2024,2,3,ID_65a7bf329fa4627faf28390c-2024-2-3
289924,0.0,0.0,0.0,0.0,0,0,ID_65b0f65c7fe62e56c5593d55,2024-02-03,10.016481,0.0,0.0,0.0,0.0,2024,2,3,ID_65b0f65c7fe62e56c5593d55-2024-2-3
289925,0.0,0.0,0.0,0.0,0,0,ID_65b0f65c7fe62e56c5593d55,2024-02-04,9.990000,0.0,0.0,0.0,0.0,2024,2,4,ID_65b0f65c7fe62e56c5593d55-2024-2-4

In [56]:
def create_submission_id(df):
    df['date'] = pd.to_datetime(df['date'])
    df['year'] = df['date'].dt.year
    df['month'] = df['date'].dt.month
    df['day'] = df['date'].dt.day
    df['submission_id'] = df['ID'].astype(str) + '_' + df['year'].astype(str) + '_' + df['month'].astype(str) + '_' + df['day'].astype(str)
    return df

# Apply the function to your DataFrame
df = create_submission_id(df)

In [78]:
submission_df = pd.DataFrame()
submission_df['ID'] = df['ID']
submission_df['date'] = df['date']
submission_df['clicks'] = x_pred

In [59]:
submission_df.to_csv("random_forest_regressor_.csv", index=False)

In [82]:
def generate_weekly_clicks_df(df):
    # Parse the 'date' column to datetime format
    df['date'] = pd.to_datetime(df['date'])

    # Group the data by 'ID' and iterate over each group
    rows = []
    for id, group in df.groupby('ID'):
        # Get the maximum date for the ID
        max_date = group['date'].max()

        # Find the previous Monday of the week for the maximum date
        prev_monday = max_date - pd.Timedelta(days=(max_date.dayofweek + 7) % 7)

        # Calculate the last date of the first week (Sunday)
        first_week_end = prev_monday + pd.Timedelta(days=6)

        # Calculate the last date of the second week (Sunday)
        second_week_end = first_week_end + pd.Timedelta(days=7)

        # Create rows for the end dates of the first and second weeks
        first_week_row = {'ID': f"{id}_{first_week_end.year}_{first_week_end.month:02d}_{first_week_end.day:02d}", 'clicks': 0}
        second_week_row = {'ID': f"{id}_{second_week_end.year}_{second_week_end.month:02d}_{second_week_end.day:02d}", 'clicks': 0}

        # Append the rows to the list
        rows.append(first_week_row)
        rows.append(second_week_row)

    # Create a DataFrame from the list of rows
    result_df = pd.DataFrame(rows)

    return result_df

# Example usage:
# Assuming 'df' is your dataframe containing the advertising data
# weekly_clicks_df = generate_weekly_clicks_df(df)

In [83]:

c_df = generate_weekly_clicks_df(submission_df)

In [84]:
len(c_df)

370

In [85]:
c_df.to_csv("grouped_dates.csv", index=False)